// User variables:

// var colors

:root {
  --font-accent: 'Montserrat', sans-serif;
  --accent: #dc0816;
  --comleted: #61DEA4;
  --failed: #F45E6D;
  --btn-color: green;
  --btn-text: #ffffff;
  --bg-color: #929292;
  --border-color: #D2D5DB;
  --white-color: #F2F2F2;
  --text: rgb(0,0,0, 0.5);
  --title: #ffffff;
  --second-color: #111111;
  --invalid-color: #cc1f51;
  --valid-color: #5acdb8;
  --placeholder-color: #ffffff;

  --transition: .3s linear;
  --brs: 23px;
}

